<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">
    😁 ¡Hola!, me alegro que pases por aquí, mi nombre es Leonardo Araneda.  
  </p>
  <p class="description" data-aos="fade-down">
    👨🏽‍💻 Actualmente soy estudiante de Ingeniería Civil en Informática.
  </p>
  <p class="description" data-aos="fade-down">
    💻 Me fascina programar, mi área de interes es el desarrollo de apps.
  </p>
  <p class="description" data-aos="fade-down">
    📈 Me apasiona el aprender más cada día y el crecimiento personal.
  </p>